[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
requests = "*"
boto3 = "*"
entsoe-py = "*"

[dev-packages]
requests-mock = "*"
coverage = "*"
pandas = "*"
moto = {extras = ["dynamodb", "secretsmanager"], version = "*"}

[requires]
python_version = "3.9"
